All Posts: <br>

<% @post.each do |post| %>


<label>Title
<%=post.title%>
</label>

<label>URL
  <%=post.url%>
</label>

<label>Content
  <%=post.content%>
</label>

<label>
  Subjects:
  <br>
<% post.subs.each do |subj| %>
<%=subj.title %>
<br>
<% end  %>
</label>

<br>&nbsp<br>
<br>&nbsp<br>
<% end %>


